[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git@github.com:msanders/snipmate.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = git@github.com:gerw/vim-latex-suite.git
[submodule "bundle/vim-arduino-ino"]
	path = bundle/vim-arduino-ino
	url = git@github.com:jplaut/vim-arduino-ino.git
