[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = git@github.com:mikewest/vimroom.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim-latex-suite"]
	path = vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "vim-arduino"]
	path = vim-arduino
	url = https://github.com/tclem/vim-arduino.git
